* {
	box-sizing: border-box;
}
section {
	margin: 0em auto 0;
	width: 300px;
	max-width: 800px;
}

input {
    display: block;
    padding: 0.5em 1em 0.5em 0.7em;
    width: 100%;
}

meter {
	margin: 0 auto 1em;
	width: 100%;
	height: .5em;

	/* Applicable only to Firefox */
	background: none;
	background-color: rgba(0,0,0,0.1);
}

meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }

.feedback {
	visibility: hidden;
	font-size: 90%;
	padding: 0 .25em;
	margin-top: 1em;
}

.qualite span {
	font-weight: bold;
}

.info {
	color: #9ab;
}

ul {
	padding-left:5px;
}

li  {
	list-style: none;
}
li::before {
	content: "ℹ ";
}